<a href="https://colab.research.google.com/github/dan00721/python_practice/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8_%C2%AB%D0%98%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BE%D1%88%D0%B8%D0%B1%D0%BE%D0%BA%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
* The Moscow Times - Wednesday, October 2, 2002
* The Guardian - Friday, 11.10.13
* Daily News - Thursday, 18 August 1977

In [24]:
from datetime import datetime

In [25]:
datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [26]:
datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [27]:
datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

### Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]. Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [28]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [29]:
def check_date(dates):
  for date in dates:
    try:
      datetime.strptime(date, '%Y-%m-%d')
      print(date, True)
    except:
      print(date, False)

In [30]:
check_date(stream)

2018-04-02 True
2018-02-29 False
2018-19-02 False

### Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [31]:
from datetime import timedelta

In [32]:
def date_range(start_date, end_date):
  date_list = []

  try:
    start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
    
    while start_date_datetime <= end_date_datetime:
      date_list.append(start_date_datetime.strftime('%Y-%m-%d'))
      start_date_datetime += timedelta(days=1)
  
  except:
    print('Неверный формат даты!')

  print(date_list)

In [33]:
date_range('2022-02-22', '2022-02-26')

['2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26']

In [34]:
date_range('2022-02-22', '2022-02-29')

Неверный формат даты!
[]

In [35]:
date_range('2022-02-22', '2022-02-20')

[]

In [36]:
date_range('2022-02-22', '2022-02-22')

['2022-02-22']

### Задание 4 (бонусное)

In [37]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  """
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)

  return default_list[DEFAULT_USER_COUNT - 2]

In [38]:
delete_and_return_last_user(1)

'A101'

In [39]:
delete_and_return_last_user(2)

IndexError: ignored

#### Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

1. Ошибка list index out of range означает, что мы обращаемся к недопустимым индексам списка.
2. При первом запуске список по умолчанию состоит из трех элементов, функция удаляет последний и возвращает новый последний по индексу. Но при повторном вызове список состоит уже из двух элементов, удаляется последний и остается один, а функция пытается вернуть элемент с индексом 1, но его уже нет в списке.